

:root {
    --nav-bar-height: 5rem;
    --primary-background: #010101;
    --secondary-background: rgba(9, 9, 9, 1.0);
    --text-color: #e7e7e7;
    --primary-link-color: rgba(246, 0, 0, 0.85);
    --primary-link-background: #000;
    --secondary-link-color: rgba(240, 240, 240, 1.0);
    --secondary-link-background: #000;    
    --footer-text-color: rgba(200, 200, 200, 0.8);
    --sidebar-width: 200px;
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
}

/* The login message that will be displayed on the signup page when it's mobile */
.mobile-overlay {
    display: none;
}

.account-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 12px;
    box-shadow:  0 14px 28px rgba(0, 0, 0, 0.8), 0 10px 10px rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 2000px;
    min-height: fit-content;
    background-color: var(--secondary-background);
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

/* The Login message on the left and The Sign up message on the right */
.account-container .left-message, .account-container .right-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-weight: bold;
    padding: 4rem 2rem;
    background: linear-gradient(to right, #ff416c, var(--primary-link-color));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    color: var(--text-color);
    transform: translateX(0);
    transition: transform 0.5s  ease-in-out;
}

/* The form containers */
.account-container .form-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.account-container .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

/* Header */
.account-container h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

/* Paragraphs */
.account-container p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px 0;
}

/* The links */
.account-container a {
    color: red;
    font-size: 14px;
    text-decoration: none;
    margin: 1rem 0;
}

.account-container span {
    font-size: 14px;
}

/* Social media Icons */
.account-container .social-container {
    margin: 0;
}

.account-container .social-container a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

/* INPUT FIELDS */
.account-container input[type=text], 
.account-container input[type=email],
.account-container input[type=password] {
    background-color: var(--primary-background);
    display: inline-flex;
    color: #888;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 45px;
    transition: width 0.5s ease-in-out;
    caret-color: var(--primary-link-color);
    margin: 0.5rem 0;
}

.account-container input[type=text]::placeholder,
.account-container input[type=email]::placeholder,
.account-container input[type=password]::placeholder {
    color: #999;
    font-size: 1rem;
}

.account-container input[type=text]:focus,
.account-container input[type=email]:focus,
.account-container input[type=password]:focus {
    border: 1px solid teal;
    width: 100%;
}

/* Buttons */
.account-container .btn {
    display: block;
    border-radius: 12px;
    padding: 1rem 2rem;
    text-align: center;
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s ease-in-out;
}

.account-container .btn.redButton{
    background-color: var(--primary-link-color);
}

.account-container .btn.blackButton{
    background-color: var(--secondary-background);
}

.account-container .btn:active {
    transform: scale(1.05);
}

.account-container .btn.redButton:hover {
    background-color: rgba(246, 0, 0, 0.95);
    transform: scale(1.05);
}

.account-container .btn.blackButton:hover {
    background-color: var(--primary-background);
    transform: scale(1.05);
}

.account-container .btn:focus {
    outline: none;
}

/* Animations */
.account-container .left-message, .account-container .right-message {
    transform: translateY(0%);
    animation: left 1s;
}

.account-container .sign-up-container, .account-container .login-container {
    transform: translateY(0%);
    opacity: 1;
    z-index: 5;
    animation: show 1.5s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
        transform: translateY(100%);
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes left {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
        transform: translateY(-50%);
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@media only screen and (max-width: 1440px) {
    .account-container {
        width: 750px;
        margin-top: 7vh;
    }
    
    .account-container h1 {
        font-size: 2.3rem;
    }
    
    .account-container p {
        font-size: 14px;
    }
    
    .account-container a {
        margin: 0.5rem 0;
    }

    .account-container .left-message, .account-container .right-message {
        padding: 2rem 1rem;
    }

    .account-container input[type=text], 
    .account-container input[type=email],
    .account-container input[type=password] {
        font-size: 14px;
        height: 40px;
        margin: 0.4rem 0;
    }

    .account-container input[type=text]::placeholder,
    .account-container input[type=email]::placeholder,
    .account-container input[type=password]::placeholder {
        font-size: 14px;
    }

    .account-container .btn {
        padding: 1rem 2rem;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .account-container {
        width: 600px;
        margin-top: 10vh;
    }
    
    .account-container h1 {
        font-size: 2rem;
    }
    
    .account-container p {
        font-size: 12px;
    }

    .account-container span {
        font-size: 12px;
    }
    
    .account-container a {
        margin: 0.4rem 0;
    }

    .account-container input[type=text], 
    .account-container input[type=email],
    .account-container input[type=password] {
        font-size: 12px;
        height: 35px;
        margin: 0.4rem 0;
    }

    .account-container input[type=text]::placeholder,
    .account-container input[type=email]::placeholder,
    .account-container input[type=password]::placeholder {
        font-size: 12px;
    }
    
    .account-container .btn {
        padding: 14px 28px;
        font-size: 13px;
    }

}

@media only screen and (max-width: 768px) {
    .account-container {
        width: 550px;
        margin-top: 10vh
    }

    .account-container.width {
        width: 80vw;
    }
    
    .account-container h1 {
        font-size: 1.6rem;
    }

    .account-container a {
        margin: 0.2rem 0;
        font-size: 10px;
    }

    .account-container p {
        font-size: 12px;
    }

    .account-container .left-message, .account-container .right-message {
        padding: 1rem;
    }

    .account-container .form-container form {
        padding: 1rem;
    }

    .account-container input[type=text], 
    .account-container input[type=email],
    .account-container input[type=password] {
        height: 32px;
        margin: 0.3rem 0;
        width: 95%;
    }
    
    .account-container .btn {
        padding: 12px 28px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 550px) {
    .account-container {
        width: 500px;
        margin-top: 5vh;
    }
    
    .account-container h1 {
        font-size: 1.4rem;
    }

    .account-container .left-message {
        padding: 0.5rem;
    }

    .account-container .btn {
        padding: 12px 20px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    .account-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 100%;
        min-height: fit-content;
        background-color: var(--primary-background);
        margin-top: 5vh;
    }

    .account-container.width {
        width: 100vw;
    }

    /* The Login message on the left */
    .account-container .left-message, .account-container .right-message {
        display: none;
    }

    /* The form containers */
    .account-container .form-container {
        width: 100%;
    }

    .account-container .form-container form {
        padding: 1rem;
    }

    .account-container h1 {
        font-size: 1.5rem;
    }

    .account-container p {
        font-size: 12px;
        margin: 0;
    }

    .account-container a {
        margin: 0.2rem 0;
    }

    .account-container .left-message, .account-container .right-message {
        padding: 0.5rem;
    }

    .account-container span {
        font-size: 10px;
    }

    .account-container input[type=text], 
    .account-container input[type=email],
    .account-container input[type=password] {
        background-color: var(--secondary-background);
        font-size: 12px;
        padding: 0.2rem 1rem;
        width: 90%;
        height: 35px;
        transition: width 0.5s ease-in-out;
        caret-color: var(--primary-link-color);
        margin: 0.3rem 0;
    }

    .account-container input[type=text]::placeholder,
    .account-container input[type=email]::placeholder,
    .account-container input[type=password]::placeholder {
        font-size: 12px;
    }

    .account-container input[type=text]:focus,
    .account-container input[type=email]:focus,
    .account-container input[type=password]:focus {
        border: 1px solid teal;
        width: 100%;
    }

    /* Buttons */
    .account-container .btn {
        padding: 12px 2rem;
        font-size: 12px;
    }

    /* The login message that will be displayed on the signup page when it's mobile */
    .account-container .mobile-overlay {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 12px;
    }

    .account-container .mobile-overlay #signup-link, .account-container .mobile-overlay #login-link {
        text-decoration: underline;
        display: inline;
        font-size: 10px;
    }
}
