    /* Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
    
/* HTML */
html {
    scroll-behavior: smooth;
}

    /* Universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* Pre-defined settings */
:root {
    --nav-bar-height: 5rem;
    --primary-background: #010101;
    --secondary-background: rgba(9, 9, 9, 1.0);
    --text-color: #e7e7e7;
    --primary-link-color: rgba(246, 0, 0, 0.85);
    --primary-link-background: #000;
    --secondary-link-color: rgba(240, 240, 240, 1.0);
    --secondary-link-background: #000;    
    --footer-text-color: rgba(200, 200, 200, 0.8);
    --sidebar-width: 200px;
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
}

.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.width {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

    /* UTILITY SETTINGS */

    /* SECTIONS */
section {
    margin-top: 6rem;
}

    /* UNORDERED LISTS */
ul {
    list-style-type: none;
}

    /* LINKS */
a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

    /* PARAGRAPHS */
p {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
}

    /* BUTTONS */
.btn {
    text-align: center;
    border: none;
    padding: 6px 1rem;
    margin: 0.5rem 0;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
}  

.btn:active {
    transform: scale(0.95);
}

.primary-link:hover, .subscribe:hover {
    transform: scale(1.05);
    /* box-shadow: 0 12px 16px 0 rgba(246,0,0,0.50), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.secondary-link:active, .read-more:active {
    transform: scale(0.95);
}
    
.secondary-link:hover {
    transform: scale(1.05);
}

#active{
    color: var(--primary-link-color);
    border: 2px solid var(--primary-link-color);
    transition: all 0.5s ease-in-out;
}

#active:hover{
    transform: scale(1.05);
    color: red;
    border: 2px solid red;
}

.subscribe {
    display: block;
    color: var(--primary-link-color);
    background-color: var(--primary-background);
    border: 2px solid var(--primary-link-color);
    font-size: 1rem;
    width: 150px;
}

.top-button {
    background-color: red;
    text-align: center;
    width: 60px;
    height: auto;
    position: fixed;
    bottom: 10%;
    right: 2%;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 0.5rem;
    border-radius: 4px;
    display: block;
    border: none;
    outline: none;
    z-index: 5;
}

.top-button i {
    font-size: 1.5rem;
    color: gray;
}

.open-button {
    display: none;
}

.close-button {
    display: none;
}

    /* HEADERS */
h1, h2, h3, h4, h5, h6 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

        /* ICONS */
i {
    color: rgba(255, 0, 0, 0.805);
    font-size: 1rem;
    margin-right: 4px;
    transition: all 0.5s ease-out;
}

i:hover {
    color: red;
}

    /* The NAVIGATIONS */
nav {
    position: fixed;
    top: 0;
    background-color: #111;
    z-index: 99;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: var(--nav-bar-height);
    width: 100%;  
    position: relative;  
}

.mobile-nav, .mobile-search {
    display: none;
}

/* The EAT-ITALIAN LOGO */
.logo {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 230px;
}

.logo .italian {
    color: red;
}

.logo svg {
    width: 3rem;
    height: auto;
    padding-top: 0.3rem;
}
    /* End of the EAT-ITALIAN LOGO */

    /* The SEARCH INPUT FIELD */
.nav .forms input[type=search] {
  background-color: var(--primary-background);
  color: #999;
  background-image: url('/Images/tabler--search.svg');
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 1rem;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 8px;
  outline: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem 0.5rem 2rem;
  width: 80%;
  height: 2.5rem;
  transition: width 0.5s ease-in-out;
  caret-color: var(--primary-link-color);
}

.nav .forms input[type=search]::placeholder {
    caret-color: var(--primary-link-color);
    font-size: 1rem;
    padding-left: 1rem;
}

.nav .forms input[type=search]:focus {
  width: 300px;
  border: 1px solid #555;
}
    /* End of the SEARCH INPUT FIELD */

.nav #sign-up {
    background-color: rgb(200, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 0.4rem 1.5rem;
    transition: all 0.5s ease-in-out;
}

.nav #sign-up:hover {
    background-color: rgb(220, 0, 0);
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul li {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav ul li a {
    color: #888;
    font-size: 1.1rem;
}

/* View Recipe link and the arrow in the fixed button */
.primary-link .fa-solid, .top-button .fa-solid {
    color: #fff;
}

/* The HOME button and PROFILE link */
.nav #home, .nav ul li #sign-up {
    color: #eee;
}

.nav #home:hover, .nav ul li #account:hover, .nav ul li a:hover {
    color: red;
    transition: all 0.5s ease-in-out;
}

.nav #sign-up i.fa-solid.fa-user {
    color: #eee;
    font-size: 1rem;
}

/* SIDEBAR */
.sidebar {
    display: none;
}   

    /* SECTIONS */

    /* The SHOWCASE Section */
.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 600px;
    margin-top: var(--nav-bar-height);
}

.showcase .showcase-foods {
    background-image: radial-gradient(circle, rgb(109, 9, 9, 0.5) 40%, var(--secondary-background) 30%, var( --primary-background) 30%);
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 0px;
    height: 100%;
}

.showcase #showcase-food1 {
    margin-top: 2%;
    width: 90%;
    height: auto;
}

.showcase #showcase-food1 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    min-height: 350px;
}

.showcase #showcase-pizza {
    display: none;
}

.showcase .chefs .desc {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.showcase #showcase-tablet {
    display: none;
}

.showcase .texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    margin-top: 1rem;
}

.showcase .texts p {
    font-size: 1.1rem;
}

.showcase .texts h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 63px;
    font-weight: 700;
    line-height: 1.2;
}

.showcase .primary-link {
    display: block;
    color: var(--primary-link-color);
    background-color: var(--primary-background);
    border: 1px solid var(--primary-link-color);
    font-size: 1.1rem;
    width: 200px;
    text-transform: capitalize;
}
    /* End of the SHOWCASE Section */

    /* The BEST RECIPES Section */
.best-recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.best-recipes h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
}

.best-recipes .recipes-bar {
    width: 100%;
    height: var(--nav-bar-height);
}

.best-recipes .recipes-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.best-recipes .recipes-bar #all {
    color: #eee;
}

.best-recipes .recipes-bar ul li a {
    color: #888;
    font-size: 1rem;
}

.best-recipes .recipes-bar ul li a:hover, .best-recipes .recipes-bar #all:hover {
    color: red;
    transition: all 0.5s ease-in-out;
}

.best-recipes .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.best-recipes .gallery .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
}

.best-recipes .tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.best-recipes .gallery .row .highlight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-background);
    width: 48%;
    margin: 0 2% 0 0;
    height: auto;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 4px #222, -2px -2px 4px #111;
}

.best-recipes .gallery .row .highlight:hover {
    transform: scale(1.05);
}

.best-recipes .gallery .row .highlight img {
    height: auto;
    width: 100%;
}

.best-recipes .gallery .row .highlight .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secondary-background);
    line-height: normal;
    padding: 1rem;
}

.best-recipes .gallery .row .highlight .desc h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
}

.best-recipes .gallery #last-highlight {
    margin-right: 0;
}

.best-recipes .secondary-link {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--secondary-link-color);
    background-color: var(--secondary-link-background);
    display: block;
    width: 190px;
}
    /* End of the BEST RECIPES Section */

    /* ABOUT US Section */
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us .row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
}

.about-us .row1 .image {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.about-us .row1 .image #ingredients {
    width: 85%;
    height: auto;
    border-radius: 2rem;
    max-height: 450px;
}

.about-us .row1 .image #chef {
    width: 100px;
    height: auto;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right: 9%;
}

.about-us .row1 .image #chef img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin: auto;
    padding: 5%;
    
}

.about-us .row1 .image #ideal {
    font-size: 1.2rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    height: auto;
    background-color: #000;
    border-radius: 8px;
    color: rgb(200, 39, 39);
    z-index: 2;
    font-weight: 600;
    box-shadow: 4px;
    position: absolute;
    bottom: 5%;
    right: 7%;
}

.about-us #ideal svg {
    width: 3rem;
    height: auto;
}

.about-us .row1 .desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us .row1 .desc h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

.about-us .row1 .desc p {
    font-size: 1.1rem;
    margin: 8px 0;
}

.about-us .row2 .others {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.about-us .row2 .others .container {
    display: flex;
    flex-direction: column;
    width: 32%;
    box-shadow: 2px 2px 4px #222, -2px -2px 4px #111;
    transition: transform 0.5s ease-out;
}

.about-us .row2 .others .container:hover {
    transform: scale(1.05);
}

.about-us .row2 .others .container img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.about-us .row2 .others .container p {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.about-us .row2 .others .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
}

.about-us .row2 .others .description h3 {
    font-size: 2.2rem;
    color: #eee;
}

    /* Read More Buttons  */
.about-us #readMore {
    display: none;
}

.about-us .container #dots {
    display: none;
}
    /* End of the ABOUT US Section */

    /* The TOP CHEFS Section */
.top-chefs {
    display: flex;
    flex-direction: column;
}

.top-chefs .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-chefs h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #ddd;
}

.top-cefs .chef-container {
    display: flex;
    flex-direction: column;
}

.top-chefs .container img{
    display: block;
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.top-chefs .chef-container p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
    /* End of the TOP CHEFS Section */

    /* The SHARE Section */
.share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.share .image {
    width: 50%;
    height: auto;
    margin: auto;
}

.share .image img{
    width: 90%;
    height: auto;
    border-radius: 10%;
}

.share .share-recipe {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 5%;
}

.share .share-recipe h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.share .share-recipe p {
    font-weight: 400;
    font-size: 1.4rem;
}
        /* The SHARE INPUT FIELDS */
.share form label {
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
}

.share input[type=text], .share input[type=textarea] {
    background-color: var(--primary-background);
    color: #888;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 50px;
    transition: width 0.5s ease-in-out;
    caret-color: red;
    margin: 0.5rem 0;
}
  
.share input[type=text]::placeholder, .share input[type=textarea]::placeholder {
    color: #999;
    font-size: 1rem;
}
  
.share input[type=text]:focus, .share input[type=textarea]:focus, .share input[type=email]:focus {
    width: 100%;
    border: 2px solid #555;
}

.share .secondary-link {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--secondary-link-color);
    background-color: var(--secondary-link-background);
    display: block;
    width: 190px;
}
    /* End of the SHARE Section */

    /* FOOTER Section */

footer {
    background-color: var(--secondary-background);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    color: var(--footer-text-color);
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0;
}

.footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.footer .footer-container h3 {
    font-size: 1.3rem;
}

.footer .footer-container .row1, .footer .footer-container .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
}

.footer .contact-us, .footer .blog-posts, .footer .faq, .footer .newsletter {
    flex-wrap: wrap;
    width: 45%;
    padding-right: 5%;
}

/* Footer Contact Us */
.footer .contact-us i {
    font-size: 1rem;
}

.footer .footer-container .contact-us a {
    width: 80%;
    padding: 0 0.5rem 1rem 0;
}

.footer .footer-container .social-container{
    display: flex;
    flex-direction: row;
    margin: 1rem 3px;
    width: 30%;
}

.footer .footer-container .social-container .fa-brands{
    font-size: 1.5rem;
}

/* Footer Blog Posts */
.footer-container .blog-post {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
    border-bottom: 1px solid #888;
}

.footer .blog-post .blog-image {
    width: 3rem;
    margin: 2px 8px;
}

.footer .blog-post .blog-image img{
   width: 100%;
   height: auto;
   border-radius: 1rem;
}

/* The NEWSLETTER INPUT FIELDS */
.footer form label {
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
}

.footer input[type=email] {
    background-color: var(--primary-background);
    color: #888;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 50px;
    transition: width 0.5s ease-in-out;
    caret-color: red;
    margin: 0.5rem 0;
}

.footer input[type=email]::placeholder {
    color: #999;
    font-size: 1rem;
}

.footer input[type=email]:focus {
    width: 100%;
    border: 2px solid #555;
} 

.footer .centered-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.footer .centered-footer p {
    margin-left: auto;
    margin-right: auto;
}

.footer .centered-footer .button {
    font-size: 1rem;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    outline: 0;
    border: 0;
    margin-left: 8px;
    text-decoration: none;
    display: inline;
}

/* Correcting the showcase h1 */
@media only screen and (max-width: 1650px) {
    .logo {
        font-size: 1.7rem;
        width: 200px;
    }

    section {
        margin-top: 4rem;
    }

    .nav ul li a {
        font-size: 1rem;
    }

    .nav .forms input[type=search] {
        width: 200px;
    }
      
    .nav .forms input[type=search]::placeholder {
        font-size: 1rem;
    }
      
    .nav .forms input[type=search]:focus {
        width: 100%;
    }

    .showcase .texts {
        width: 50%;
    }

    .showcase .texts h1 {
        font-size: 57px;
    }

    .showcase .texts p {
        font-size: 1.1rem;
    }

    .best-recipes .recipes-bar ul li a {
        font-size: 1.1rem;
    }

    .about-us .row1 .image #chef {
        top: -14%;
        right: 10%;
    }

    .about-us .row1 .image #chef img {
        width: 100%;
        
    }

    .about-us .row1 .image #ideal {
        bottom: 5%;
        right: 5%;
    }

    .about-us .row2 .others .container p {
        font-size: 1rem;
    }

    .about-us .row2 .others .description {
        padding: 1rem;
        text-align: center;
        min-height: 340px;
        max-height: 350px;
    }

    .top-chefs .container img{
        height: 140px;
        width: 140px;
    }

    .footer .footer-container .row1 {
        width: 55%;
    }

    .footer .footer-container .row2 {
        width: 45%;
    }

    .footer .contact-us, .footer .newsletter {
        width: 43%;
        padding-right: 2%;
    }

    footer .blog-posts, .footer .faq {
        width: 53%;
        padding-right: 2%;
    }
}

/* Responsiveness for Laptops with large screens. */
@media only screen and (max-width: 1440px) {
    section {
        margin-top: 2rem;
    }

    :root {
        --nav-bar-height: 4rem;
    }

    .logo {
        font-size: 1.3rem;
        width: 150px;
    }

    .logo svg {
        width: 2.2rem;
        height: auto;
    }

    i {
        font-size: 12px;
        margin-right: 2px;
    }

    .nav .forms input[type=search] {
        width: 150px;
    }
      
    .nav .forms input[type=search]:focus {
        width: 180px;
    }

    .nav ul li {
        margin: 0 3px;
    }

    .nav ul li a {
        font-size: 14px;
    }

    .showcase .showcase-foods {
        width: 50%;
        height: 400px;
    }

    .showcase #showcase-food1 img{
        min-height: 330px;
    }

    .showcase .space {
        width: 0%;
    }
    
    .showcase .texts {
        width: 50%;
    }

    .showcase .texts h1 {
        font-size: 57px;
    }

    .showcase .texts p {
        font-size: 14px;
    }
    
    .showcase .primary-link {
        width: 190px;
    }

    .best-recipes h2 {
        font-size: 24px;
    }

    .best-recipes .recipes-bar ul li a {
        font-size: 14px;
    }

    .best-recipes .secondary-link {
        font-size: 14px;
        width: 160px;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 1rem;
    }

    .about-us .row1 p {
        font-size: 14px;
    }

    .about-us .row1 {
        margin-bottom: 15px;
    }

    .about-us .row1 h2 {
        font-size: 24px;
    }

    .about-us .row1 .image #ingredients {
        width: 90%;
        height: auto;
        border-radius: 10%;
    }

    .about-us .row1 .image #chef {
        top: -13%;
        right: 5%;
        width: 80px;
    }

    .about-us .row1 .image #ideal {
        bottom: 6%;
        right: 6%;
        font-size: 14px;
        width: 145px;
    }

    .about-us .row2 .others .container p {
        font-size: 14px;
    }

    .about-us .row2 .others .description h3 {
        font-size: 20px;
    }

    .about-us .row2 .others .description {
        padding: 1rem;
        min-height: 300px;
        max-height: 320px;
    }

    .share form label {
        font-size: 1.2rem;
    }

    .share input[type=text], .share input[type=textarea] {
        padding: 0.5rem 1rem;
        margin: 0.3rem 0;
    }

    .top-chefs h2 {
        font-size: 24px;
    }

    .top-chefs .container img{
        height: 100px;
        width: 100px;
    }

    .top-chefs .container p {
        font-size: 16px;
    }

    .share .share-recipe h2 {
        font-size: 24px;
    }

    .share .share-recipe p {
        font-size: 14px;
    }

    .share form label {
        font-size: 1.3rem;
    }
    
    .share input[type=text], .share input[type=textarea] {
        height: 45px;
        margin: 6px 0;
    }
      
    .share input[type=text]::placeholder, .share input[type=textarea]::placeholder {
        font-size: 14px;
    }
    
    .share .secondary-link {
        font-size: 1rem;
        width: 140px;
    }

    .footer {
        font-size: 14px;
    }
    
    .footer .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .footer .footer-container h3 {
        font-size: 1.1rem;
    }
    
    /* The NEWSLETTER INPUT FIELDS */
    .footer form label {
        font-size: 1.2rem;
    }
    
    .footer input[type=email] {
        font-size: 14px;
        height: 45px;
    }
    
    .footer input[type=email]::placeholder {
        font-size: 12px;
    }
    
    .footer .centered-footer {
        margin-top: 1rem;
    }

    .footer .centered-footer .button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1220px) {
    .logo {
        font-size: 1.1rem;
        width: 130px;
    }

    i {
        font-size: 10px;
        margin-right: 0;
    }

    .nav ul li {
        margin: 0 2px;
    }

    .nav ul li a {
        font-size: 8px;
        letter-spacing: 0.1px;
    }

    .nav .forms input[type=search] {
        width: 150px;
        height: 40px;
    }
      
    .nav .forms input[type=search]:focus {
        width: 170px;
    }

    .showcase .showcase-foods img {
        min-height: 280px;
        max-height: 300px;
    }

    .showcase .texts h1 {
        font-size: 45px;
    }

    .showcase .space {
        width: 0%;
    }
    
    .showcase .texts {
        width: 50%;
    }

    .showcase .texts p {
        font-size: 14px;
    }

    .about-us p {
        font-size: 12px;
    }

    .top-chefs .container img{
        height: 100px;
        width: 100px;
    }

    .about-us .row1 .image #chef {
        top: 10%;
        right: 5%;
    }

    .about-us .row1 .image #ideal {
        bottom: 6%;
        right: 6%;
    }

    .secondary-link {
        font-size: 14px;
        width: 150px;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 1rem;
    }

    .about-us .row1 .image #ingredients {
        width: 90%;
        height: 85%;
        border-radius: 1rem;
    }

    .about-us .row1 .image #chef {
        top: -5%;
        width: 60px;
        height: auto;
    }

    .about-us .row1 .image #ideal {
        right: 7%;
        bottom: 5%;
    }

    .about-us .row1 p {
        margin: 4px 0;
    }

    /* Hidden texts */
    /* .about-us .container #more {
        display: none;
    } */

    /* Read More Buttons */
    /* #readMore {
        display: block;
    } */

    .about-us .row2 .others .description {
        padding: 0.5rem;
        min-height: 300px;
        max-height: 400px;
    }

    .share form label {
        font-size: 1.2rem;
    }

    .share input[type=text], .share input[type=textarea] {
        padding: 0.5rem 1rem;
        margin: 0.3rem 0;
    }

    .top-chefs .container img{
        height: 90px;
        width: 90px;
    }

    .top-chefs .container p{
        font-size: 16px;
    }

    .footer {
        font-size: 12px;
    }

    .footer .contact-us {
        width: 47%;
        padding-right: 3%;
    }
    
    .footer .contact-us i {
        font-size: 13px;
    }
    
    .footer .footer-container .contact-us a {
        width: 60%;
        padding: 0 0.5rem 0.5rem 0;
    }
    
    .footer .footer-container .social-container{
        margin: 0.5rem 3px;
    }
    
    .foote .footer-container .social-container .fa-brands{
        font-size: 14px;
    }
    
    .footer-container .blog-posts {
        width: 47%;
        padding-right: 3%;
    }
    
    .footer-container .blog-post {
        margin-bottom: 0;
    }
    
    .footer .blog-post .blog-image {
        width: 40px;
        margin: 4px 6px 2px 0;
    }
    
    .footer .faq {
        width: 47%;
        padding-right: 3%;
    }
    
    /* The NEWSLETTER INPUT FIELDS */
    .footer .newsletter {
        width: 47%;
        padding-right: 3%;
    }
}

@media only screen and (max-width: 1120px) {
    .nav ul li:nth-child(6) {
        display: none;
    }

    .about-us .row1 {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin-bottom: 0px;
    }
    
    .about-us .row1 .image #ingredients {
        width: 90%;
        height: auto;
    }
    
    .about-us .row1 .image #chef {
       display: none;
    }
    
    .about-us .row1 .image #ideal {
        display: none;
    }
    
    .about-us .row1 .desc h2 {
        font-weight: 600;
        font-size: 2.2rem;
    }
    
    .about-us .row1 .desc p {
        font-weight: 400;
        font-size: 12px;
        margin: 8px 0;
    }
 
    .about-us .row2 .others {
        margin-top: 50px;
    }

    .about-us .row2 .others .container {
        width: 32%;
    }

    .about-us .row2 .others .container p {
        font-size: 12px;
    }

    .about-us .row2 .others .description {
        display: flex;
        padding: 0.5rem;
        min-height: 250px;
        max-height: 300px;
    }

    .about-us .row2 .others .description h3 {
        font-size: 1.5rem;
    }  

    .footer .footer-container h3 {
        font-size: 1rem;
    }
}

/* Responsiveness for Laptops with smaller screens. */
@media only screen and (max-width: 1024px) {
    /* The EAT-ITALIAN LOGO */
    .logo {
        font-size: 14px;
    }
    /* End of the EAT-ITALIAN LOGO */

    .nav ul li {
        margin: 0;
    }

    .nav .menu {
        display: none;
    }

    .nav ul li a {
        font-size: 10px;
        margin-right: 2px;
    }

    .nav ul li:nth-child(5), .nav ul li:nth-child(6) {
        display: none;
    }

    .nav #sign-up {
        padding: 8px 4px;
        font-size: 8px;
    }

    .nav #sign-up i.fa-solid {
        font-size: 4px;
        margin-right: 4px;
    }

    .nav i.fa-solid {
        font-size: 4px;
        margin-right: 0px;
    }

    .nav .forms input[type=search] {
        background-position: 8px;
        background-size: 12px;
        font-size: 12px;
        padding: 0.5rem 0.8rem;
        width: 150px;
        height: 2rem;
    }
      
    .nav .forms input[type=search]::placeholder {
        caret-color: var(--primary-link-color);
        font-size: 12px;
        padding-left: 8px;
    }
      
    .nav .forms input[type=search]:focus {
        width: 180px;
        border: 1px solid #555;
    }

    .showcase .primary-link {
        width: 200px;
    }

    .showcase .texts h1 {
        font-size: 40px;
    }

    .showcase .texts p {
        font-size: 12px;
    }

    .best-recipes .recipes-bar ul li a {
        font-size: 13px;
    }

    .about-us .row1 .desc #disappear1 {
        display: none;
    }

    .about-us .row2 .others .description {
        padding: 0.5rem;
        min-height: 250px;
        max-height: 350px;
    }

    .top-chefs .container p {
        font-size: 12px;
    }

    .top-chefs .container img{
        height: 70px;
        width: 70px;
    }

    .subscribe {
        width: 100px;
        font-size: 0.8rem;
    }
}

/* Responsiveness for tablets. */
@media only screen and (max-width: 825px) {
    :root {
        --nav-bar-height: 3.4rem;
    }

    .header, .section, .footer {
        padding: 0;
        margin: 1rem 0;
    }

    .width {
        width: 80vw;
        margin: auto;
    }

    p {
        font-size: 14px;
    }

    /* The EAT-ITALIAN LOGO */
    .logo {
        font-size: 1rem;
        width: 120px;
    }

    .logo svg {
        height: 2rem;
        width: 2rem
    }
    /* End of the EAT-ITALIAN LOGO */

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: baseline;
    }

    .nav .forms input[type=search] {
        font-size: 14px;
        font-weight: 400;
        padding: 0.5rem 1rem 0.5rem 2rem;
        width: 200px;
        height: 2rem;
    }

    .nav .forms input[type=search]::placeholder {
        font-size: 12px;
        padding-left: 1rem;
    }
      
    .nav .forms input[type=search]:focus {
        width: 300px;
    }

    .nav ul {
        display: none;
    }

    /* SIDEBAR */
    .open-button {
        display: flex;
        justify-content: baseline;
        align-self: flex-end;
        color: var(--primary-link-color);
        background-color: #111;
        width: 50px;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.5s ease-in-out;
    }

    .open-button i.fa-solid.fa-bars {
        font-size: 20px;
    }

    .open-button:hover, .close-button:hover {
        color: rgba(255, 0, 0, 0.8);
        background-color: #000;
    }

    .close-button {
        display: flex;
        justify-content: baseline;
        align-self: flex-end;
        color: var(--primary-link-color);
        background-color: var(--secondary-background);
        width: 50px;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.5s ease-in-out;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-background);
        position: fixed;
        left: 0;
        top: var(--nav-bar-height);
        width: 0;
        height: 100%;
        overflow-x: hidden;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
        z-index: 50;
    }

    .sidebar button i {
        font-size: 25px;
    }

    .sidebar:nth-child(1) p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
        margin: 4px 0.5rem 4px 1rem;
    }

    .sidebar i {
        display: inline-block;
        font-size: 14px;
    }

    .sidebar div ul li{
        border-bottom: 1px solid grey;
        display: flex;
        padding: 0.5rem 0;
    }

    .sidebar ul li :last-child {
        border-bottom: none;
    }

    .sidebar ul li a {
        font-size: 14px;
        display: block;
        padding: 6px;
        transition: all 0.3s ease-in-out;
    }

    .sidebar ul li a:hover {
        color: red;
    }

    #sidebar-account {
        height: 40px;
    }

    #sidebar-account i.fa-chevron-down {
        margin-left: 70px;
    }

    .sidebar ul li ul{
        visibility: hidden;
        opacity: 0;
        display: none;
        position: absolute;
        left: 0;
        transition: all 0.5s ease-in-out;
        width: 100%;
    }

    .sidebar ul li:hover > ul,
    .sidebar ul li:focus-within > ul,
    .sidebar ul li ul:hover{
        visibility: visible;
        display: block;
        opacity: 1;
    }

    .sidebar ul li:hover > ul {
        clear: both;
        width: 100%;
    }

    .sidebar ul li ul {
        display: block;
        transition-duration: 0.5s;
    }

    .sidebar ul li ul li:hover,
    .sidebar ul li ul li:focus-within {
        cursor: pointer;
    }

    .sidebar ul li ul li {
        padding: 2px;
    }

    .sidebar ul li ul li a {
        border-bottom: 1px solid gray;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    /* End of SIDEBAR */

    .top-button {
        width: 50px;
        height: 40px;
        margin: 0;
        padding: 0.5rem;
    }

    .primary-link {
        width: 190px;
        padding: 8px 10px;
        font-size: 14px;
        text-transform: capitalize;
    }

    .showcase {
        display: flex;
        flex-direction: column;
        max-height: fit-content;
        overflow: hidden;
    }

    .showcase .showcase-foods {
        background-image: radial-gradient(circle, rgb(109, 9, 9, 0.5) 40%, var(--secondary-background) 30%, var( --primary-background) 30%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        margin-top: 4px;
        width: 100%;
    }

    .showcase #showcase-food1, .showcase #showcase-food2 {
        display: none;
    }

    .showcase #showcase-tablet {
        display: flex;
        width: 100%;
        max-height: 400px;
        margin-bottom: 1rem;
    }

    .showcase #showcase-tablet img {
        width: 100%;
        height: 300px
    }

    .showcase .texts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 0;
    }

    .showcase .texts h1 {
        font-size: 40px;
        width: 60%;
        padding: 4px 0;
    }
    
    .showcase .texts p {
        font-size: 14px;
    }
    
    .best-recipes h2 {
        font-size: 24px;
    }

    .best-recipes .recipes-bar ul li a {
        font-size: 10px;
        margin: 0 2px;
    }

    .best-recipes .recipes-bar ul li:nth-child(7), .best-recipes .recipes-bar ul li:nth-child(8) {
        display: none;
    }

    .best-recipes .recipes-bar #all {
        margin-right: 4px;
    }
    
    .best-recipes .gallery .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .best-recipes .tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .best-recipes .gallery .row .highlight {
        width: 50%;
    }
    
    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 18px;
    }

    .about-us .row1 .description {
        width: 50%;
        margin-right: auto;
    }

    .about-us .row1 .image  {
        width: 45%;
        text-align: left;
    }

    .about-us #chef, .about-us .row1 .image #ideal {
        display: none;
    }

    .about-us .row1 .desc #disappear {
        display: none;
    }

    .about-us .row1 .desc h2 {
        font-size: 24px;
    }

    .about-us .row1 .desc p {
        font-size: 12px;
    }

    .secondary-link {
        padding: 8px;
        width: 120px;
        font-size: 14px;
    }

    .about-us #row1-more {
        display: none;
    }

    .about-us .row2 .others {
        margin-top: 40px;
    }

    .about-us .row2 .others .container img {
        max-height: 200px;
    }

    .about-us .row2 .others .description {
        min-height: 280px;
        max-height: 350px;
        overflow: auto;
    }

    .top-chefs h2{
        font-size: 24px;
    }

    .top-chefs .container img{
        width: 50px;
        height: 50px;
    }

    .top-chefs .chef-container p {
        font-size: 10px;
    }
    
    .share .image img{
        width: 100%;
    }

    .share .share-recipe h2 {
        font-size: 24px;
    }
    
    .share .share-recipe p {
        font-size: 13px;
    }

    .share form label {
        font-size: 14px;
    }
    
    .share input[type=text], .share input[type=textarea] {
        font-size: 14px;
        margin-bottom: 8px;
        height: 40px;
        font-size: 12px;
    }
      
    .share input[type=text]::placeholder, .share input[type=textarea]::placeholder {
        font-size: 12px;
    }

    .share .secondary-link {
        padding: 6px 12px;
        margin: 4px 0;
        width: 120px;
    }
    
    .footer {
        font-size: 10px;
        padding: 1rem 0;
    }

    .footer p {
        font-size: 12px;
    }

    .footer .footer-container h3 {
        font-size: 15px;
    }
    
    .footer .footer-container {
        flex-direction: column;
    }
    
    .footer .footer-container .row1, .footer .footer-container .row2 {
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer .contact-us {
        flex-wrap: wrap;
        width: 50%;
        padding-right: 0;
    }

    .footer .contact-us i {
        font-size: 1rem;
    }

    .footer .footer-container .contact-us a {
        width: 80%;
        padding: 0 0.5rem 1rem 0;
    }

    .footer .footer-container .social-container{
        display: flex;
        flex-direction: row;
        margin: 1rem 3px;
        width: 30%;
    }

    .footer .footer-container .social-container .fa-brands{
        font-size: 1rem;
    }

    .footer-container .blog-posts {
        width: 50%;
        padding-right: 0%;
    }

    .footer-container .blog-posts p {
        font-size: 12px;
    }

    .footer .blog-post .blog-image {
        width: 2rem;
    }

    .footer .faq {
        width: 50%;
        padding-right: 0%;
    }

    /* The NEWSLETTER INPUT FIELDS */
    .footer .newsletter {
        width: 50%;
        padding-right: 0%;
    }

    .footer input[type=email] {
        width: 80%;
        height: 40px;
        font-size: 12px;
    }

    .footer input[type=email]::placeholder {
        color: #999;
        font-size: 12px;
    }

    .footer .centered-footer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    .footer .centered-footer .button {
        font-size: 0.9rem;
        background-color: var(--footer-bg);
        color: var(--footer-text-color);
        outline: 0;
        border: 0;
        margin-left: 8px;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 730px) {
    .about-us .row2 .others .description {
        min-height: 320px;
        max-height: 350px;
        overflow: auto;
    }
}

@media only screen and (max-width: 680px) {
    .logo {
        font-size: 1rem;
        width: 120px;
    }

    .showcase .texts h1 {
        font-size: 36px;
        width: 65%;
        padding: 4px 0;
    }

    .about-us .row2 .others .description {
        min-height: 400px;
        max-height: 420px;
        overflow: auto;
    }

    .top-chefs p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 525px) {
    .logo {
        font-size: 14px;
        width: 120px;
    }

    .nav .forms input[type=search] {
        margin-left: 4px;
    }

    .showcase #showcase-tablet {
        display: flex;
        width: 100%;
        max-height: 300px;
        margin-bottom: 1rem;
    }

    .showcase #showcase-tablet img {
        width: 100%;
        height: 250px
    }

    .showcase .texts h1 {
        font-size: 30px;
        width: 70%;
        padding: 4px 0;
    }

    .showcase .texts p {
        font-size: 12px;
    }

    .best-recipes h2, .about-us .row1 .desc h2, .top-chefs h2, .share .share-recipe h2 {
        font-size: 24px;
    }

    .best-recipes .recipes-bar ul li a {
        font-size: 12px;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 14px;
    }
    
    .about-us .row1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0rem;
    }

    .about-us .row1 .image {
        width: 100%;
    }

    .about-us .row1 .image #ingredients {
        width: 100%;
        height: auto;
        border-radius: 8px;
        max-height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us .row1 .desc {
        display: block;
        width: 100%;
    }

    .about-us .row1 .desc p {
        width: 100%;
    }

    .about-us .row2 .others {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    
    .about-us .row2 .others .container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
    
    .about-us .row2 .others .container img {
        width: 100%;
        height: auto;
        max-height: 200px;
        border-radius: 0;
    }
    
    .about-us .row2 .others .container p {
        font-size: 12px;
    }
    
    .about-us .row2 .others .description {
        padding: 0.5rem;
        width: 100%;
        border: 1px solid #888;
        min-height: fit-content;
        max-height: 250px;
    }
    
    .about-us .row2 .others .description h3 {
        font-size: 1.4rem;
    }

    .share .share-recipe h2 {
        font-size: 1.2rem;
    }

    .share .share-recipe p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 425px) {
    :root {
        --nav-bar-height: 7rem;
    }

    .width {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        margin: 2px 0;
    }
    
    .nav {
        display: none;
    }
    
    .mobile-nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-height: var(--nav-bar-height);
    }

    .mobile-nav #row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        border-bottom: 1px solid rgba(100, 100, 100, 0.332);
        max-height: fit-content;
    }

    .logo {
        font-size: 1.2rem;
        width: 145px;
        padding: 4px 0;
    }

    .mobile-nav #row1 .logo svg {
        width: 2.4rem;
        height: 2.2rem;
    }

    .mobile-nav .mobile-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
        width: 100%;
        height: fit-content;
    }

    .mobile-search .forms {
        padding-bottom: 4px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-search .forms input[type=search] {
        background-color: var(--primary-background);
        color: #999;
        background-image: url('/Images/tabler--search.svg');
        background-position: 8px;
        background-repeat: no-repeat;
        background-size: 0.8rem;
        box-sizing: border-box;
        border: 1px solid #222;
        border-radius: 8px;
        outline: 0;
        font-size: 12px;
        font-weight: 400;
        padding: 0.5rem 1rem 0.5rem 2rem;
        width: 100%;
        height: 30px;
        transition: width 0.5s ease-in-out;
        caret-color: var(--primary-link-color);
    }
      
    .mobile-search .forms input[type=search]::placeholder {
        font-size: 12px;
        padding-left: 8px;
    }
      
    .mobile-search .forms input[type=search]:focus {
        width: 100%;
        border: 1px solid #555;
        background-color: var(--secondary-background);
    }

    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-height: fit-content;
        margin-top: var(--nav-bar-height);
        overflow: hidden;
    }
    
    .showcase .showcase-foods {
        background-image: radial-gradient(circle, rgb(109, 9, 9, 0.5) 40%, var(--secondary-background) 30%, var( --primary-background) 30%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin-top: 0px;
        height: 100%;
    }

    .showcase #showcase-tablet {
        display: flex;
        width: 100%;
        max-height: 250px;
        margin-bottom: 4px;
        margin-top: 0;
    }

    .showcase #showcase-tablet img {
        height: 220px;
        margin-top: 0;
    }
    
    .showcase .texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
    }
    

    .showcase .texts h1 {
        font-size: 1.7rem;
        width: 70%;
        padding: 4px 0;
        text-align: center;
    }

    .showcase .texts p {
        font-size: 12px;
        text-align: center;
    }

    .best-recipes h2, .about-us .row1 .desc h2, .top-chefs h2, .share .share-recipe h2 {
        font-size: 20px;
    }

    .best-recipes .recipes-bar {
        width: 0%;
        height: 0;
    }

    .best-recipes .recipes-bar ul {
        display: none;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 14px;
    }

    .share .share-recipe h2 {
        font-size: 1.2rem;
    }

    .share .share-recipe p {
        font-size: 12px;
    }
}

