

/* Poppins Google Font CSS Link */
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); 


:root {
    --dash-body-bg: #E4E9F7;
    --dash-sidebar-bg: #ddd;
    --dash-primary-colour: rgba(246, 0, 0, 0.85);
    /* --dash-primary-colour: #695CFE; */
    --dash-primary-light-colour: #F6F5FF;
    --dash-toggle-colour: #DDD;
    --dash-text-colur: #707070;

    /* Transitions */
    --trans-02: all 0.2 ease;
    --trans-03: all 0.3 ease;
    --trans-04: all 0.4 ease;
    --trans-05: all 0.5 ease;

}

/* Universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    background: var(--dash-body-bg);
}

.dashboard {
    position: relative;
    /* display: flex;
    flex-direction: column;
    overflow: auto; */
}

.dashboard .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-bg);
}

.dashboard .sidebar .image-text .image img {
    border-radius: 8px;
    width: 50px;
}
