
/* Universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dash-primary-bg: rgba(246, 246, 246, 1);
    --dash-sidebar-bg: #fff;
    --dash-nav-colour: #777;
    --dash-text-colour: #000;
    --dash-secondary-background: #F6F5FF;
    --dash-toggle-colour: #DDD;
    --dash-black-light-colour: #707070;
    --dash-border-color: #e6e5e5;

    --dash-calories: #e8c3b9;
    --dash-fats: #00aba9;
    --dash-carbohydrates: #2b5797;
    --dash-protein: #b91d47;
    --dash-title-icon-color: #fff;

    --dash-logo-colour: rgba(246, 0, 0, 0.9);
    --dash-ingredient-red: rgb(246, 230, 230);

    /* Transition */
    --trans-03: all 0.3s ease-in-out;
    --trans-05: all 0.5s ease-in-out;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    width: 100vw;
    transition: var(--trans-05);
}

body.dark {
    --dash-primary-bg: #010101;
    --dash-secondary-background: rgba(9, 9, 9, 1.0);
    --dash-sidebar-bg: #000;
    --dash-nav-colour: #e7e7e7;
    --dash-text-colour: #e7e7e7;
    --dash-primary-light-colour: #F6F5FF;
    --dash-toggle-colour: #DDD;
    --dash-black-light-colour: #707070;
    --dash-border-color: #e6e5e5;

    --dash-calories: #e37557;
    --dash-fats: #00aba9;
    --dash-carbohydrates: #2b5797;
    --dash-protein: #b91d47;

    --dash-logo-colour: rgba(246, 0, 0, 0.9);
    --dash-ingredient-red: rgb(194, 70, 70);  
    
    --primary-link-background: #000;  
    --footer-text-color: rgba(200, 200, 200, 0.8);
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4 {
    color: var(--dash-text-colour);
}

ul li {
    list-style-type: none;
}

.dash-width {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--dash-secondary-background);
}

/* ******** SIDEBAR ******** */
.sidebar {
    position: relative;
    height: 100vh;
    width: 250px;
    padding: 10px 15px;
    background-color: var(--dash-sidebar-bg);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px #000;
    border-right: 1px solid var(--dash-carbohydrates);
    transition: var(--trans-05);
}

.sidebar header .logo .ei,
.dashboard .hamburger {
    display: none;
}

.sidebar header {
    position: relative;
}      
    /* ===== LOGO ===== */
.sidebar .logo  {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}

.sidebar .logo p {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: var(--dash-text-colour);
    height: 100%;
    width: 100%;
}

.sidebar header .logo .ei {
    display: none;
    width: 45px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
    font-style:italic;
    padding: 8px;
    color: var(--dash-sidebar-bg);
    background-color: var(--dash-logo-colour);
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar #italian {
    color: var(--dash-logo-colour);
    font-weight: 600;
    font-size: 25px;
}

.sidebar #com {
    font-size: 14px;
    color: var(--dash-logo-colour);
    font-weight: 500;
}

/* MENU */
.sidebar .menu-bar {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sidebar .menu-bar ul li {
    height: 45px;
    display: flex;
    align-items: center;
    transition: var(--trans-05);
    width: 100%;
    margin-bottom: 6px;
}

.sidebar .menu-bar #overview {
    font-weight: bold;
}

.sidebar .menu-bar ul li a {
    font-size: 14px;
    color: var(--dash-black-light-colour);
    transition: var(--trans-05);
}

.sidebar .menu-bar ul li a:hover {
    color: var(--dash-sidebar-bg);
    background-color: var(--dash-logo-colour);
    width: 100%;
    border-radius: 8px;
}

    /* MENU ICONS */
.sidebar li .icons {
    font-size: 20px;
    color: var(--dash-logo-colour);
    min-width: 40px;
    padding-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar li i:hover {
    color: var(--dash-sidebar-bg);
}

.sidebar .menu-bar li a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--dash-nav-colour);
}

.sidebar .dark-mode .moon-sun {
    display: flex;
    align-items: center;
}

.sidebar .dark-mode i.fa-solid.fa-sun {
    display: none;
}

.sidebar .dark-mode .toggle-switch {
    width: 45px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .dark-mode .switch {
    position: relative;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--dash-toggle-colour);
}

.sidebar .dark-mode .switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--dash-sidebar-bg);
    cursor: pointer;
    transition: var(--trans-03);
}

body.dark .sidebar .dark-mode .switch::before {
    left: 22px;
}

.sidebar .upload {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 140px;
    background-color: var(--dash-logo-colour);
    width: 200px;
    border-radius: 25px;
    color: var(--dash-text-colour);
    padding: 0px 7px;
    top: 11%;
    position: relative;
}

.sidebar .upload p {
    font-weight: 500;
    font-size: 14px;
    color: var(--dash-sidebar-bg);
}

.sidebar .upload button {
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--dash-logo-colour);
    background-color: var(--dash-primary-bg);
    width: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    transition: var(--trans-05);
}

.sidebar .upload button:active {
    transform: scale(0.95);
    background-color: #ccc;
}

section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 250px);
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
}

/* DASH BODY */
.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 10px 20px;
    transition: var(--trans-05);
    background-color: var(--dash-primary-bg);
    border-right: 1px solid var(--dash-carbohydrates);
} 

.dashboard > div {
    margin-bottom: 15px;
}

.dashboard .top{
    position: relative;
    top: 0;
    left: 0px;
    padding: 4px 14px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: var(--trans-05);
} 

.dashboard .top .hamburger {
    font-size: 20px;
    color: var(--dash-text-colour);
    cursor: pointer;
    display: none;
}
    /* SEARCH */
.dashboard .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    color: var(--dash-nav-colour);
    width: 100%;
}

.dashboard .search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.dashboard .search-box input[type=search] {
    background-color: var(--dash-secondary-background);
    color: var(--dash-primary-light-colour);
    border: 1px solid #aaa;
    border-radius: 50px;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5rem 1rem 0.5rem 3rem;
    width: 500px;
    height: 40px;
    transition: var(--trans-05);
    caret-color: var(--dash-primary-bg);
}

/* Search icon in the SEARCH INPUT FIELD */
.search-box .search-icon {
    position: absolute;
    left: 20px;
    color: var(--dash-nav-colour);
    z-index: 2;
    font-size: 20px;
}
  
.search-box input[type=search]::placeholder {
    font-size: 14px;
}
  
.search-box input[type=search]:focus {
    width: 600px;
    border: 1px solid #555;
}       

    /* End of SECARCH INPUT FIELDS */
.dashboard .search .filter {
    width: 120px;
    border-radius: 50px;
    background-color: var(--dash-secondary-background);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    display: flex;
    border: 1px solid #aaa;
    justify-content: space-between;
    font-size: 14px;
}

.dashboard .search .filter i {
    margin-right: 8px;
}

.dashboard .search i.fas.fa-search.search-icon {
    color: var(--dash-nav-colour);
    font-weight: 600;
    font-size: 20px;
}

/* ADD RECIPE */
.dashboard .add-recipe {
    background-color: var(--dash-logo-colour);
    color: var(--dash-sidebar-bg);
    border-radius: 20px;
    padding: 10px 20px;
    height: 135px;
    width: 100%;
    position: relative;
}

.dashboard .add-recipe h1 {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    color: var(--footer-text-color);
}

.dashboard .add-recipe .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90%;
    text-wrap: wrap;
}

.dashboard .add-recipe .words p {
    width: 100%;
    font-size: 14px;
}

.dashboard .add-recipe .image {
    position: absolute;
    right: 5%;
    bottom: -6%;
}

.dashboard .add-recipe .image img {
    width: 110px;
    height: 175px;
    z-index: 5;
}

/* This contain the Based on the type of food you like header and the view more link to the right. */
.dashboard .dash-recipe-head,
.aside .more-recipe .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.dashboard .dash-recipe-head a,
.aside .more-recipe .top a {
    text-align: center;
    border: none;
    margin: 0.5rem 0;
    font-size: 14px;
    color: var(--dash-logo-colour);
    font-weight: 500;
    outline: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.dashboard .dash-recipe-head a:hover,
.aside .more-recipe .top a:hover {
    transform: scale(0.95);
}

.dashboard .dash-recipe-head h2,
.aside .more-recipe .top h2 {
    font-size: 22px;
    font-weight: 600;
}

    /* EACH RECIPE */
.dashboard .dash-recipes {
    display: flex;
    flex-direction: column;
}

/* The container for all the recipes */
.dashboard .dash-recipes .recipe-example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* The container for each recipes */
.dashboard .dash-recipes .each-recipe {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.dashboard .dash-recipes .head {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-height: 95px;
}

.dashboard .dash-recipes .recipe-img {
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: auto;
    background-color: #bbb;
}

.dashboard .dash-recipes .recipe-img img {
    width: 93px;
    height: 93px;
    border-radius: 50%;
}

/* The description of each ingredients */
.dashboard .dash-recipes .recipe-desc {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 8px 0px;
}

.dashboard .dash-recipes .recipe-desc h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.dashboard .dash-recipes .calories {
    font-size: 12px;
    font-weight: 300;
    color: var(--dash-nav-colour);
}

.dashboard .dash-recipes .ingredients {
    display: flex;
    flex-direction: column;
}

.dashboard .ingredients h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0;
}

/* Each row in the ingredient description div */
.dashboard .dash-recipes .ingredients .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

/* Each ingredient */
.dashboard .dash-recipes .each-ingredient {
    background-color: var(--dash-ingredient-red);
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

.dashboard .dash-recipes .each-ingredient img {
    width: 60px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard .dash-recipes .each-ingredient .ingredient {
    font-size: 12px;
    text-align: center;
}

.dashboard .dash-recipes .each-more {
    display: flex;
    justify-content: center;
    background-color: var(--dash-calories);
}

.dashboard .dash-recipes .each-more p {
    font-size: 12px;
}

.dashboard .dash-recipes .recipe-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    width: 80%;
}

.dashboard i.fa-heart {
    color: var(--dash-logo-colour);
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

.dashboard i.fa-heart:active {
    color: red;
    transform: scale(0.95);
}

.dashboard .dash-recipes .play-tutorial {
    background-color: var(--dash-logo-colour);
    color: var(--dash-sidebar-bg);
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 10px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard .play-tutorial i.fa-solid {
    background-color: var(--dash-sidebar-bg);
    color: var(--dash-logo-colour);  
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

    /* ASIDE Section */
.aside {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    padding: 20px;
    background-color: var(--dash-sidebar-bg);
    box-shadow: -2px -4px 2px #ddd;
}

/* Notification bar at the top */
.aside .aside-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    width: 80px;
    margin-left: auto;
    position: relative;
}

.aside .aside-right span {
    width: 100%;
}

.aside .aside-right i {
    font-size: 30px;
    font-weight: 700;
    color: var(--dash-carbohydrates);
}

.aside .aside-right #red-dot {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -20px;
    right: 50px;
}

.aside #red-dot i {
    font-size: 10px;
    color: red;
}

/* REPORT Part */
.aside .report {
    display: flex;
    flex-direction: column;
    height: 280px;
} 

.aside .report h2 {
    font-size: 26px;
} 

.aside .report-heading {
    display: flex;
    align-items: baseline;
}

.aside .report-heading #thismonth {
    color: var(--dash-nav-colour);
    font-size: 14px;
    margin-left: 8px;
}

.aside .graph-container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
}

.aside .graph canvas {
    min-height: 200px;
    min-width: 200px;
}

/* The container for all the recipes */
.aside .each-more-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* The container for each recipes */
.aside .aside-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: fit-content;
    position: relative;
}

.aside .aside-recipe .recipe-img {
    width: 80px;
    height: 80px;
    padding: 2px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    background-color: #bbb;
    z-index: 2;
}

.aside .aside-recipe .recipe-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* The description of each ingredients */
.aside .aside-recipe .recipe-desc {
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dash-secondary-background);
    position: absolute;
    top: 25%;
    border-radius: 20px;
    padding: 0 20px;
    text-align: left;
    padding-top: 35px;
}

.aside .aside-recipe .recipe-desc h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--dash-text-colour);
}

.aside .aside-recipe .recipe-desc p {
    font-size: 1rem;
    color: var(--dash-black-light-colour);
}

/* ASIDE Tutorial Part */
.aside .tutorial {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    color: var(--dash-nav-colour);
    font-size: 1rem;
}

.aside .tutorial i.fa-solid.fa-play {
    background-color: var(--dash-logo-colour);
    color: var(--dash-sidebar-bg);  
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 12px;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@media only screen and (max-width: 1900px) {  
    .sidebar .logo  {
        height: 40px;
    }

    .sidebar .logo p {
        font-size: 22px;
    }

    .sidebar .menu-bar {
        height: 200px;
    }

    .sidebar .menu-bar ul li {
        height: 40px;
        margin-bottom: 4px;
    }

    .sidebar .menu-bar ul li a {
        font-size: 12px;
    }
    
    .sidebar .upload {
        min-height: 130px;
        max-height: 150px;
        padding: 10px 8px;
        top: 7%;
    }

    .sidebar .upload p {
        font-size: 12px;
    }

    .sidebar .upload button {
        font-size: 14px;
        width: 140px;
    }

    .dashboard {
        max-width: 1000px;
        min-width: 650px;
    } 

    .dashboard > div {
        margin-bottom: 4px;
    }

    .dashboard .search-box input[type=search] {
        width: 400px;
        font-size: 13px;
    }

    .search-box input[type=search]::placeholder {
        font-size: 13px;
    }

    .search-box input[type=search]:focus {
        width: 520px;
    } 

    .dashboard .search .filter {
        width: 100px;
        font-size: 13px;
    }
    
    .dashboard .search i.fas.fa-search.search-icon {
        font-size: 16px;
    }

    /* ADD RECIPE */
    .dashboard .add-recipe {
        padding: 10px 15px;
        height: 120px;
    }

    .dashboard .add-recipe h1 {
        margin-bottom: 8px;
        font-size: 22px;
    }

    .dashboard .add-recipe .words {
        font-size: 12px;
        width: 80%;
    }

    .dashboard .add-recipe .words p {
        font-size: 12px;
    }

    .dashboard .add-recipe .image img {
        width: 100px;
        height: 137px;
    }

    .dashboard .dash-recipe-head h2,
    .aside .more-recipe .top h2 {
        font-size: 20px;
    }

    .dashboard .dash-recipe-head a,
    .aside .more-recipe .top a {
        font-size: 12px;
    }

    .dashboard .dash-recipes .recipe-img {
        width: 71px;
        height: 71px;
    }

    .dashboard .dash-recipes .recipe-img img {
        width: 70px;
        height: 70px;
    }

        /* The container for each recipes */
    .dashboard .dash-recipes .each-recipe {
        width: 48%;
    }

    .dashboard .dash-recipes .head {
        width: 90%;
    }

    /* The description of each ingredients */
    .dashboard .dash-recipes .recipe-desc {
        padding: 4px 0px;
    }

    .dashboard .dash-recipes .recipe-desc h3 {
        font-size: 16px;
    }

    .dashboard .dash-recipes .calories {
        font-size: 10px;
    }

    .dashboard .ingredients h4 {
        font-size: 14px;
    }

    .dashboard .dash-recipes .ingredients {
        position: relative;
    }

    .dashboard .dash-recipes .each-ingredient {
        width: 90px;
        height: 65px;
    }

    .dashboard .dash-recipes .each-ingredient img {
        width: 60px;
        height: 40px;
    }

    .dashboard .dash-recipes .each-ingredient .ingredient {
        font-size: 10px;
    }

    .dashboard .dash-recipes .recipe-footer {
        max-height: 35px;
        width: 85%;
        margin-top: 6px;
    }

    .dashboard i.fa-heart {
        font-size: 24px;
    }

    .dashboard .dash-recipes .play-tutorial {
        font-size: 12px;
        padding: 8px 12px;
        width: 160px;
    }
    
    .dashboard .play-tutorial i.fa-solid { 
        width: 30px;
        height: 30px;
        padding: 8px;
        font-size: 16px; 
    }

    /* ASIDE Section */
    .aside {
        padding: 10px;
    }

    /* Notification bar at the top */
    .aside .aside-right {
        width: 70px;
    }

    .aside .aside-right i {
        font-size: 20px;
    }

    .aside .aside-right #red-dot {
        width: 9px;
        height: 9px;
        top: -13px;
        right: 45px;
    }

    .aside #red-dot i {
        font-size: 4px;
        width: 5px;
    }

    /* REPORT Part */
    .aside .report {
        height: 250px;
    }

    .aside .report h2 {
        font-size: 20px;
    } 

    .aside .report-heading #thismonth {
        font-size: 12px;
        margin-left: 6px;
    }

    .aside .aside-recipe .recipe-img {
        width: 70px;
        height: 70px;
    }

    /* The description of each ingredients */
    .aside .aside-recipe .recipe-desc {
        height: 200px;
    }

    .aside .aside-recipe .recipe-desc h3 {
        font-size: 16px;
    }

    /* ASIDE Tutorial Part */
    .aside .tutorial {
        font-size: 14px;
        padding-bottom: 14px;
    }

    .aside .tutorial i.fa-solid.fa-play {
        width: 28px;
        height: 28px;
        margin-right: 5px;
        font-size: 14px;
    } 
}

@media only screen and (max-width: 1639px) {
    .dashboard .dash-recipes .recipe-footer {
        width: 90%;
    }
}

@media only screen and (max-width: 1570px) {
    .dashboard .dash-recipes .recipe-footer {
        width: 95%;
    }
}

@media only screen and (max-width: 1450px) {
    .dash-width {
        display: flex;
        justify-content: left;
    }

    .sidebar {
        width: 200px;
        padding: 10px;
    }

    .sidebar .logo p {
        font-size: 18px;
    }

    .sidebar #italian {
        font-size: 20px;
    }

    .sidebar #com {
        font-size: 12px;
    }

    .sidebar .upload {
        height: 150px;
        width: 160px;
        padding: 0px 7px;
        top: 12%;
    }

    .sidebar .upload p {
        font-size: 12px;
    }

    .sidebar .upload button {
        font-size: 14px;
        width: 130px;
    }

    .dashboard .search-box input[type=search] {
        font-size: 12px;
        height: 35px;
        width: 380px;
    }

    .search-box input[type=search]::placeholder {
        font-size: 12px;
    }
    
    .search-box input[type=search]:focus {
        width: 450px;
    }       

        /* End of SECARCH INPUT FIELDS */
    .dashboard .search .filter {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }

    .aside {
        width: 300px;
        padding: 10px;
    }
    
    /* Notification bar at the top */
    .aside .aside-right {
        width: 60px;
        margin-left: 50%;
    }
    
    .aside .aside-right i {
        font-size: 18px;
    }
    
    .aside .aside-right #red-dot {
        width: 7px;
        height: 7px;
    }
    
    .aside #red-dot i {
        font-size: 5px;
    }
    
    /* REPORT Part */
    .aside .report {
        height: 250px;
    } 

    .aside .aside-recipe .recipe-desc {
        height: 170px;
    }

    .aside .aside-recipe .recipe-desc h3 {
        font-size: 14px;
    }

    .aside .aside-recipe .recipe-desc p {
        font-size: 12px;
    }

    /* ASIDE Tutorial Part */
    .aside .tutorial {
        font-size: 12px;
        padding-bottom: 14px;
    }

    .aside .tutorial i.fa-solid.fa-play {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    } 
}

@media only screen and (max-width: 1000px) {
    .dash-width {
        display: flex;
        justify-content: left;
    }

    .sidebar {
        width: 0px;
        padding: 0;
        transition: var(--trans-05);
    }

    .sidebar .menu-bar,
    .sidebar .logo p,
    .sidebar .upload {
        display: none;
    }

    .sidebar.close {
        width: 60px;
        transition: var(--trans-05);
    }

    .sidebar.close header .logo span {
        display: block;
    }

    .sidebar.close .logo p,
    .sidebar.close .upload  {
        display: none;
    }
    
    .sidebar header .logo span .ei {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar.close ul li a span {
        pointer-events: none;
        opacity: 0;
        display: none;
    }

    .sidebar.close .menu-bar {
        display: flex;
        justify-content: center;
        height: 270px;
        margin-top: 60px;
    }

    .sidebar.close .menu-bar ul {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 100%;
    }

    .sidebar.close .menu-bar ul li {
        height: 45px;
    }

    .sidebar.close .menu-bar .icons {
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar.close ~ .dashboard {
        left: 60px;
        width: calc(100% - 60px);
    }

    .dashboard {
        max-width: 800px;
        min-width: 600px;
        width: 100%;
    } 

    .dashboard .top .hamburger {
        display: flex;
        width: 40px;
    }

    .dashboard .top {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard .search-box input[type=search] {
        font-size: 12px;
        height: 35px;
        width: 300px;
    }

    .search-box input[type=search]::placeholder {
        font-size: 12px;
    }
    
    .search-box input[type=search]:focus {
        width: 380px;
    } 
    
    .dashboard .add-recipe .image img {
        width: 120px;
        height: 170px;
    }

    .dashboard .search .filter {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }

    .dashboard .search .filter i {
        margin-right: 4px;
    }

    .dashboard .add-recipe h1 {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .dashboard .dash-recipe-head h2,
    .aside .more-recipe .top h2 {
        font-size: 15px;
    }

    .dashboard .dash-recipe-head a,
    .aside .more-recipe .top a {
        font-size: 10px;
    }

    .dashboard .dash-recipes .recipe-img {
        width: 52px;
        height: 52px;
    }

    .dashboard .dash-recipes .recipe-img img {
        width: 50px;
        height: 50px;
    }

    .dashboard .dash-recipes .recipe-desc h3 {
        font-size: 13px;
    }

    .dashboard .dash-recipes .each-ingredient {
        width: 70px;
        height: 55px;
    }

    .dashboard .dash-recipes .each-ingredient img {
        width: 45px;
        height: 30px;
    }

    .dashboard .dash-recipes .each-ingredient .ingredient {
        font-size: 10px;
    }

    .dashboard .dash-recipes .play-tutorial {
        font-size: 10px;
        padding: 6px 10px;
        width: 140px;
    }
    
    .dashboard .play-tutorial i.fa-solid { 
        width: 26px;
        height: 26px;
        padding: 6px;
        font-size: 14px; 
    }

    .aside {
        width: 280px;
        padding: 10px;
    }

    .aside .report h2 {
        font-size: 15px;
    }

    .aside .aside-right {
        width: 60px;
        margin-left: 40%;
    }

    .aside .graph-container {
        height: 220px;
        width: 100%;
    }
 
    .aside-recipe {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside .aside-recipe .recipe-desc {
        height: 130px;
        width: 85%;
        text-align: center;
    }

    .aside #each-more1 {
        display: none;
    }

    .aside .tutorial { 
        display: flex;
        justify-content: center;
    }

    /* ASIDE Tutorial Part */
    .aside .tutorial {
        font-size: 12px;
        padding-bottom: 16px;
        width: 100%;
    }

    .aside .tutorial i.fa-solid.fa-play {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    } 
}

@media only screen and (max-width: 800px) {  
    
    .sidebar.close {
        width: 50px;
    }

    .sidebar header .logo .ei {
        margin-bottom: 10px;
    }

    .sidebar.close .menu-bar {
        height: 240px;
        margin-top: 50px;
    }

    .sidebar.close .menu-bar ul li {
        height: 40px;
    }

    .sidebar.close .menu-bar .icons {
        font-size: 23px;
    }

    .sidebar.close ~ .dashboard {
        left: 50px;
        width: calc(100% - 50px);
    }

    .dashboard {
        max-width: 520px;
        min-width: 520px;
        background-color: blue;
    }

    .dashboard .search-box input[type=search] {
        width: 240px;
    }

    .search-box input[type=search]::placeholder {
        font-size: 12px;
    }
    
    .search-box input[type=search]:focus {
        width: 270px;
    } 

    .dashboard .add-recipe .image {
        right: 2%;
    }

    .dashboard .dash-recipes .each-ingredient {
        width: 70px;
        height: 60px;
        text-wrap: wrap;
        overflow: hidden;
        padding-top: 2px;
    }

    .dashboard .dash-recipes .each-ingredient .ingredient {
        font-size: 10px;
    }

    .aside {
        width: 280px;
        padding: 10px;
    }

    .aside .graph-container {
        height: 220px;
        width: 100%;
    }
 
    .aside-recipe {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside .aside-recipe .recipe-desc {
        height: 130px;
        width: 85%;
        text-align: center;
    }

    .aside #each-more1 {
        display: none;
    }

    .aside .tutorial { 
        display: flex;
        justify-content: center;
    }

    /* ASIDE Tutorial Part */
    .aside .tutorial {
        font-size: 12px;
        padding-bottom: 16px;
        width: 100%;
    }

    .aside .tutorial i.fa-solid.fa-play {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    } 
}
