    /* Universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* Pre-defined settings */
:root {
    --nav-bar-height: 3.5rem;
    --primary-background: #010101;
    --secondary-background: rgba(9, 9, 9, 1.0);
    --text-color: #e7e7e7;
    --primary-link-color: rgba(246, 0, 0, 0.85);
    --primary-link-background: #000;
    --secondary-link-color: rgba(240, 240, 240, 1.0);
    --secondary-link-background: #000;    
    --footer-text-color: rgba(200, 200, 200, 0.8);
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
}

.page-container {
    position: relative;
}

.width {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

    /* UTILITY SETTINGS */

    /* SECTIONS */
section {
    margin: 2rem 0;
}

    /* UNORDERED LISTS */
ul {
    list-style-type: none;
}

    /* LINKS */
a {
    text-decoration: none;
    color: var(--text-color);
}

    /* PARAGRAPHS */
p {
    display: flex;
    flex-wrap: wrap;
}

    /* BUTTONS */
.btn {
    text-align: center;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0.8rem 0;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border: 2px solid grey;
    border-radius: 1rem;
}  

.btn:active {
    transform: scale(0.95);
}

.primary-link {
    display: block;
    color: var(--primary-link-color);
    background-color: var(--primary-background);
    border: 2px solid var(--primary-link-color);
    font-size: 1rem;
    width: 35%;
}

.primary-link:hover, .subscribe:hover {
    transform: scale(1.05);
    /* box-shadow: 0 12px 16px 0 rgba(246,0,0,0.50), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.secondary-link {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--secondary-link-color);
    background-color: var(--secondary-link-background);
    display: block;
    width: 190px;
}

.secondary-link:active, .read-more:active {
    transform: scale(0.95);
}
    
.secondary-link:hover {
    transform: scale(1.05);
}

#active{
    color: var(--primary-link-color);
    border: 2px solid var(--primary-link-color);
    transition: all 0.5s ease-in-out;
}

#active:hover{
    transform: scale(1.05);
    color: red;
    border: 2px solid red;
}

.subscribe {
    display: block;
    color: var(--primary-link-color);
    background-color: var(--primary-background);
    border: 2px solid var(--primary-link-color);
    font-size: 1rem;
    width: 150px;
}

.top-button {
    background-color: red;
    text-align: center;
    width: 40px;
    height: auto;
    position: fixed;
    bottom: 10%;
    right: 2%;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 0.5rem;
    border-radius: 4px;
    display: block;
    border: none;
    outline: none;
    z-index: 5;
}

    /* HEADERS */
h1, h2, h3, h4, h5, h6 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

        /* ICONS */
.fa-solid {
    color: rgba(255, 0, 0, 0.805);
    font-size: 4px;
}

    /* TOPNAV */
.topnav {
    display: none;
}

/* The EAT-ITALIAN LOGO */
.logo {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.logo .italian {
    color: red;
}

.logo svg {
    width: 2rem;
    height: auto;
    padding-top: 0.3rem;
}
    /* End of the EAT-ITALIAN LOGO */

    /* The SEARCH INPUT FIELD */
.forms input[type=search] {
  background-color: var(--primary-background);
  color: teal;
  background-image: url('/Images/tabler--search.svg');
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 8px;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 1rem 0.5rem 2rem;
  width: 180px;
  height: 2rem;
  transition: width 0.5s ease-in-out;
  caret-color: teal;
}

.forms input[type=search]::placeholder {
  color: teal;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.forms input[type=search]:focus {
  width: 100%;
  border: 2px solid teal;
}
    /* End of the SEARCH INPUT FIELD */

    /* The NAVIGATIONS */
nav {
    position: fixed;
    top: 0;
    background-color: #111;
    z-index: 99;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: var(--nav-bar-height);
    width: 100%;    
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul li {
    margin: 0 6px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav ul li a, .best-recipes .recipes-bar ul li a {
    color: #888;
    font-size: 0.7rem;
}

/* View Recipe link and the arrow in the fixed button */
.primary-link .fa-solid, .top-button .fa-solid {
    color: #fff;
}

/* The HOME button and LOGIN link */
.nav #home, .nav ul li #login-link, .best-recipes .recipes-bar #all {
    color: #eee;
}

.nav #home:hover, .nav ul li #login-link:hover, .nav ul li a:hover, .best-recipes .recipes-bar ul li a:hover, .best-recipes .recipes-bar #all:hover {
    color: teal;
    transition: all 0.5s ease-in-out;
}

.nav .menu {
    display: none;
}
    /* End of the NAVIGATIONS Section */

    /* SECTIONS */

    /* The SHOWCASE Section */
.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 900px;
    margin-top: var(--nav-bar-height);
    overflow: hidden;
}

.showcase .showcase-foods {
    background-image: radial-gradient(circle, rgb(109, 9, 9, 0.5) 40%, var(--secondary-background) 30%, var( --primary-background) 30%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: auto;
}

.showcase #showcase-food1, .showcase #showcase-food2 {
    width: 100%;
    height: 50%;
}

.showcase #showcase-food1 img, .showcase #showcase-food2 img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    padding-top: 1rem;
}

.showcase .chefs .desc {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.showcase .space {
    width: 15%;
    height: 100%;
}

.showcase .texts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 2rem;
}

.showcase .texts p {
    font-size: 1.1rem;
}

.showcase .texts h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
}
    /* End of the SHOWCASE Section */

    /* The BEST RECIPES Section */
.best-recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.best-recipes h2 {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: left;
}

.best-recipes .recipes-bar {
    width: 100%;
    height: var(--nav-bar-height);
}

.best-recipes .recipes-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.best-recipes .gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.best-recipes .gallery .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
}

.best-recipes .gallery .row .highlight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secondary-background);
    width: 25%;
    height: auto;
    margin: 0 1rem 0 0;
}

.best-recipes .gallery .row .highlight img {
    height: auto;
    width: 100%;
}

.best-recipes .gallery .row .highlight .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secondary-background);
    line-height: normal;
    padding: 1rem;
}

.best-recipes .gallery .row .highlight .desc h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
    /* End of the BEST RECIPES Section */

    /* ABOUT US Section */
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us .row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
}

.about-us .row1 .image {
    width: 50%;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about-us .row1 .image #ingredients {
    width: 90%;
    height: auto;
    border-radius: 10%;
    margin-top: 1rem;
}

.about-us .row1 .image #chef {
    width: 20%;
    height: auto;
    background-color: #111;
    border-radius: 50%;
    top: 0;
    right: 4%;
    position: absolute;
}

.about-us .row1 .image #chef img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: flex;
    margin: auto;
    padding: 5%;
    
}

.about-us .row1 .image #ideal {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 11rem;
    height: auto;
    background-color: #000;
    border-radius: 8px;
    color: rgb(200, 39, 39);
    z-index: 2;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 4px;
    bottom: 5%;
    right: 0%;
    position: absolute; 
}

.about-us #ideal svg {
    width: 3rem;
    height: auto;
}

.about-us .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us .description h2 {
    font-weight: 600;
    font-size: 2.2rem;
}

.about-us .description p {
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem 0;
}

.about-us .row2 .others {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
}

.about-us .row2 .others .container {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-right: 1rem;
}

.about-us .row2 .others .container img {
    width: 100%;
    height: auto;
}

.about-us .row2 .others .container p {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.about-us .row2 .others .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
    border-radius: 0 0 20px 20px;
    border: 2px solid #888;
}

.about-us .row2 .others .description h3 {
    font-size: 2rem;
    color: #eee;
}
    /* End of the ABOUT US Section */

    /* The TOP CHEFS Section */
.top-chefs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
}

.top-chefs .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

.top-chefs h2{
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #ddd;
}

.top-chefs .container img{
    height: auto;
    width: 50%;
    border-radius: 100%;
}

.top-chefs .container p {
    font-size: 1rem;
    font-weight: 400;
}
    /* End of the TOP CHEFS Section */

    /* The SHARE Section */
.share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.share .image {
    width: 50%;
    height: auto;
    margin: auto;
}

.share .image img{
    width: 90%;
    height: auto;
    border-radius: 10%;
}

.share .share-recipe {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 5%;
}

.share .share-recipe h2 {
    font-size: 2rem;
    font-weight: 600;
}

.share .share-recipe p {
    font-weight: 400;
    font-size: 1.2rem;
}
        /* The SHARE INPUT FIELDS */
.share form label {
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
}

.share input[type=text], .share input[type=textarea] {
    background-color: var(--primary-background);
    color: #888;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 45px;
    transition: width 0.5s ease-in-out;
    caret-color: teal;
    margin: 0.5rem 0;
}
  
.share input[type=text]::placeholder, .share input[type=textarea]::placeholder {
    color: #999;
    font-size: 1rem;
}
  
.share input[type=text]:focus, .share input[type=textarea]:focus, .share input[type=email]:focus {
    width: 100%;
    border: 2px solid teal;
}
    /* End of the SHARE Section */

    /* FOOTER Section */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: var(--secondary-background);
    color: var(--footer-text-color);
    font-size: 0.9rem;
    width: 100%;
    padding: 1rem;
}

.footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer .contact-us {
    flex-wrap: wrap;
}

.footer .footer-container .contact-us a {
    width: 4rem;
    font-size: 1.3rem;
    height: auto;
    color: rgba(246, 0, 0, 0.9);
    margin: 0 1rem 1rem 0;
}

.footer .footer-container .socials{
    display: flex;
    flex-direction: row;
    margin: 1rem 3px;
    width: 30%;
}

.footer .footer-container .socials .fa-brands{
    font-size: 0.8rem;
}

.footer-container .blog-post {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    border-bottom: 2px solid #888;
}

.footer .blog-post .blog-image {
    width: 2.5rem;
    margin: 4px;
}

.footer .blog-post .blog-image img{
   width: 100%;
   height: auto;
   border-radius: 1rem;
}

.footer .contact-us, .footer .blog-posts, .footer .faq, .footer .newsletter {
    width: 22%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* The NEWSLETTER INPUT FIELDS */
.footer form label {
    display: block;
    font-weight: 500;
}

.footer input[type=email] {
    background-color: var(--primary-background);
    color: #888;
    box-sizing: border-box;
    border: 1px solid #222;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 45px;
    transition: width 0.5s ease-in-out;
    caret-color: teal;
    margin: 0.5rem 0;
}

.footer input[type=email]::placeholder {
    color: #999;
    font-size: 1rem;
}

.footer input[type=email]:focus {
    width: 100%;
    border: 2px solid teal;
} 

.footer .centered-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 2rem;
}

.footer .centered-footer .button {
    font-size: 0.9rem;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    outline: 0;
    border: 0;
    margin-left: 8px;
    text-decoration: underline;
}

/* Correcting the showcase h1 */
@media only screen and (max-width: 2480px) {
    .showcase .texts h1 {
        font-size: 5.5rem;
    }

    .secondary-link {
        width: 170px;
    }
}

/* Responsiveness for desktop screen sizes */
@media only screen and (max-width: 1910px) {
    .showcase .texts h1 {
        font-size: 4.5rem;
    }

    .secondary-link {
        width: 150px;
    }
}

@media only screen and (max-width: 1590px) {
    .showcase .texts h1 {
        font-size: 4rem;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 1.1rem;
    }
}

/* Responsiveness for Laptops with large screens. */
@media only screen and (max-width: 1440px) {

    .showcase .showcase-foods {
        width: 50%;
    }

    .showcase .space {
        width: 5%;
    }
    
    .showcase .texts {
        width: 45%;
    }

    .showcase .texts h1 {
        font-size: 3.7rem;
    }
    
    .primary-link {
        width: 40%;
    }

    .secondary-link {
        font-size: 1rem;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 0.9rem;
    }

    .about-us .row1 .image #ideal {
        bottom: 10%;
        right: 3%;
    }

    .share form label {
        font-size: 1.2rem;
    }

    .share input[type=text], .share input[type=textarea] {
        padding: 0.5rem 1rem;
        margin: 0.3rem 0;
    }
}

/* Responsiveness for Laptops with smaller screens. */
@media only screen and (max-width: 1280px) {
    .width {
        width: 85vw
    }
    /* The EAT-ITALIAN LOGO */
    .logo {
        font-size: 1.4rem;
    }
    /* End of the EAT-ITALIAN LOGO */

    .fa-solid {
        font-size: 6px;
    }

    .nav ul li {
        margin: 0.25rem;
    }

    .primary-link {
        width: 40%;
    }

    .showcase .texts h1 {
        font-size: 3.1rem;
    }

    .best-recipes .gallery .row .highlight .desc h3 {
        font-size: 0.7rem;
    }

    .about-us .row1 .image #chef {
        background-color: #555;
        right: 2%;
        top: 10%;
    }
    
    .about-us .row1 .image #ideal {
        bottom: 14%;
    }

    .footer .contact-us, .footer .blog-posts, .footer .faq, .footer .newsletter {
        width: 25%;
        padding-right: 0%;
    }

    .subscribe {
        width: 120px;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1024px) {
    /* The EAT-ITALIAN LOGO */
    .logo {
        font-size: 1.3rem;
    }
    /* End of the EAT-ITALIAN LOGO */

    .nav ul li {
        margin: 0.2rem;
    }

    .nav ul li a, .best-recipes .recipes-bar ul li a {
        color: #888;
        font-size: 0.5rem;
    }

    .nav .menu {
        display: none;
    }

    .primary-link {
        width: 50%;
    }

    .showcase .texts h1 {
        font-size: 2.8rem;
    }
    
    .about-us .row1 .image #chef {
        right: 2%;
        top: 16%;
    }
    
    .about-us .row1 .image #ideal {
        bottom: 16%;
        font-size: 1rem;
    }

    .about-us .description #disappear1 {
        display: none;
    }

    .subscribe {
        width: 100px;
        font-size: 0.8rem;
    }

    .footer {
        font-size: 0.7rem;
    }
}

/* Responsiveness for tablets. */
@media only screen and (max-width: 960px) {
    /* The EAT-ITALIAN LOGO */
    /* .logo {
        font-size: 1.3rem;
    } */
    /* End of the EAT-ITALIAN LOGO */

    /* .nav ul li {
        margin: 0.2rem;
    }

    .nav ul li a, .best-recipes .recipes-bar ul li a {
        color: #888;
        font-size: 0.5rem;
    }

    .nav .menu {
        display: none;
    }

    .primary-link {
        width: 50%;
    }

    .showcase .texts h1 {
        font-size: 2.8rem;
    }
    
    .about-us .row1 .image #chef {
        right: 2%;
        top: 16%;
    }
    
    .about-us .row1 .image #ideal {
        bottom: 16%;
        font-size: 1rem;
    }

    .about-us .description #disappear1 {
        display: none;
    }

    .subscribe {
        width: 100px;
        font-size: 0.8rem;
    }

    .footer {
        font-size: 0.7rem;
    } */
}
